
body {
  margin: 25px;
  background-color: #41B3A3;
  font-family: arial, sans-serif;
  font-size: 16px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

.container {
  display:flex;
  justify-content:space-between;
  align-items:center;  
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }
