
body {
  margin: 25px;
  background-color: #41B3A3;
  font-family: arial, sans-serif;
  font-size: 16px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}


ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 80%;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    text-align:center;
}



strong {
  font-weight: bold;
}
